<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/apk/res-auto"
    package="com.example.hotel_personapp">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 可选权限说明-->
    <uses-permission
        android:name="android.permission.INTERNET" />
<!--    允许应用程序联网（必须）-->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
<!--    允许访问WiFi网络状态信息（必须）-->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
<!--    允许读取手机状态（必须）-->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--    允许访问网络状态（必须）-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    允许写手机存储（必须）-->
    <uses-permission
        android:name="android.permission.RECEIVE_SMS" />
<!--    GUI自动填充验证码功能（非必须）-->
    <uses-permission
        android:name="android.permission.READ_SMS" />
<!--    从短信中读取验证码接口（非必须）-->
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
<!--    应用内好友功能（非必须）-->

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VXhhkBGws8iYkCoxeOOS9d80GrEb9Pjt" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IndexActivity"
            android:label="@string/title_activity_index" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />



        <activity android:name=".activity.HotelSearchResultActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.ExerciseActivity" />
        <activity android:name=".activity.ExeMachineActivity" />
        <activity android:name=".activity.ExePlanActivity" />
        <activity android:name=".activity.ExeFoodActivity" />
        <activity android:name=".activity.MarketActivity" />
        <activity android:name=".activity.ChangePassActivity" />
        <activity android:name=".activity.SuggestionActivity" />
        <activity android:name=".activity.Hotel_Message_Activity" />
        <activity android:name=".activity.PersonMessageActivity" />
        <activity android:name=".activity.Change_personActivity" />
        <activity android:name=".activity.MyCouponActivity" />
        <activity android:name=".activity.MyCommentActivity"></activity>
    </application>

</manifest>